/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:not([type="radio"]):not([type="checkbox"]) {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

a {
  text-decoration: none; }

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff; }

img {
  display: block; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.section-header {
  text-align: center; }
  .section-header__title {
    color: #648cff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase; }
  .section-header__slogan {
    margin-top: 30px;
    color: #999999;
    font-size: 18px; }

.home {
  padding: 37px 0 65px;
  background-color: #648cff; }
  .home header .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .home header .navbar_logo {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase; }
    .home header .navbar-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .home header .navbar-menu_item {
        margin-right: 82px; }
        .home header .navbar-menu_item a {
          display: block;
          color: #e1e1e1;
          font-size: 18px;
          line-height: 21.6px; }
          .home header .navbar-menu_item a:hover {
            color: #fff; }
        .home header .navbar-menu_item:last-child {
          margin-right: 0; }
    .home header .navbar-social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .home header .navbar-social_item {
        margin-right: 43px; }
        .home header .navbar-social_item a {
          font-size: 24px;
          vertical-align: middle;
          color: #fff;
          line-height: 25px; }
        .home header .navbar-social_item:last-child {
          margin-right: 0; }
  .home-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .home .main-info {
    max-width: 50%;
    margin-top: 244px; }
    .home .main-info_title {
      font-size: 60px;
      font-weight: 700; }
      .home .main-info_title--mbottom {
        margin-bottom: 42px; }
    .home .main-info_text {
      font-size: 18px;
      line-height: 30px; }
    .home .main-info-buttons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 59px; }
      .home .main-info-buttons_button {
        width: 158px;
        height: 52px;
        margin-right: 13px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        line-height: 52px;
        text-align: center;
        background-color: #fc6a42;
        color: #fff; }
        .home .main-info-buttons_button--features {
          background-color: #4466c9; }
  .home .main-image {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 149px 0 36px; }
    .home .main-image_attribute {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: #fc6a42;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      line-height: 90px;
      text-transform: uppercase;
      font-size: 18px; }
      .home .main-image_attribute--orange {
        left: 0;
        bottom: 220px; }
      .home .main-image_attribute--white {
        top: 84px;
        right: 10%;
        width: 59px;
        height: 58px;
        background-color: #ffffff;
        color: #6ca3ff;
        font-size: 20px;
        font-weight: 700;
        line-height: 58px; }
      .home .main-image_attribute--blue {
        top: 267px;
        right: 2%;
        background-color: #4466c9;
        font-size: 16px;
        font-weight: 700; }
      .home .main-image_attribute--yellow {
        right: 10%;
        bottom: -28px;
        width: 56px;
        height: 56px;
        line-height: 56px;
        background-color: #fcec64;
        color: #648cff;
        font-weight: 700; }
  .home .scroll-down-btn {
    display: block;
    margin: 0 auto;
    width: 49px;
    height: 49px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    text-align: center; }
    .home .scroll-down-btn i {
      line-height: 49px;
      color: #ff4a4f; }

.features {
  padding: 132px 0 142px; }
  .features-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 129px; }
    .features-container-item {
      max-width: 355px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .features-container-item__image {
        height: 62px; }
      .features-container-item-desc {
        margin-left: 21px; }
        .features-container-item-desc__title {
          margin-bottom: 24px;
          color: #353854;
          font-family: Ubuntu;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px; }
        .features-container-item-desc__text {
          color: #aeaeae;
          font-size: 16px;
          line-height: 30px; }

.widgets {
  padding: 55px 0 0; }
  .widgets .swiper-container {
    margin-top: 62px; }
  .widgets .swiper-button-prev {
    left: 110px; }
  .widgets .swiper-button-next {
    righ: 110px; }

.screenshots {
  margin-top: 145px; }
  .screenshots-container-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .screenshots-container-item-info {
      margin-left: 180px; }
      .screenshots-container-item-info__icon {
        height: 63px;
        margin-top: 86px; }
      .screenshots-container-item-info__title {
        margin: 48px 0 36px; }
      .screenshots-container-item-info__text {
        max-width: 490px;
        color: #353854;
        font-size: 24px;
        line-height: 36px; }
      .screenshots-container-item-info__iconset {
        margin-top: 42px; }
