@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:not([type="radio"]):not([type="checkbox"]) {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

a {
  text-decoration: none; }

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff; }

img {
  display: block;
  max-width: 100%; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.section-header {
  text-align: center; }
  .section-header__title {
    color: #648cff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase; }
  .section-header__slogan {
    margin-top: 30px;
    color: #999999;
    font-size: 18px; }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar_logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .navbar-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .navbar-menu_item {
      margin-right: 82px; }
      .navbar-menu_item a {
        display: block;
        color: #e1e1e1;
        font-size: 18px;
        line-height: 21.6px; }
        .navbar-menu_item a:hover {
          color: #fff; }
      .navbar-menu_item:last-child {
        margin-right: 0; }
  .navbar-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .navbar-social_item {
      margin-right: 43px; }
      .navbar-social_item a {
        font-size: 24px;
        vertical-align: middle;
        color: #fff;
        line-height: 25px; }
      .navbar-social_item:last-child {
        margin-right: 0; }

.home {
  padding: 37px 0 65px;
  background-color: #648cff; }
  .home-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .home .main-info {
    max-width: 50%;
    margin-top: 244px; }
    .home .main-info_title {
      font-size: 60px;
      font-weight: 700; }
      .home .main-info_title--mbottom {
        margin-bottom: 42px; }
    .home .main-info_text {
      font-size: 18px;
      line-height: 30px; }
    .home .main-info-buttons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 59px; }
      .home .main-info-buttons_button {
        width: 158px;
        height: 52px;
        margin-right: 13px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        line-height: 52px;
        text-align: center;
        background-color: #fc6a42;
        color: #fff; }
        .home .main-info-buttons_button--features {
          background-color: #4466c9; }
  .home .main-image {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 149px 0 36px; }
    .home .main-image_attribute {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: #fc6a42;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      line-height: 90px;
      text-transform: uppercase;
      font-size: 18px; }
      .home .main-image_attribute--orange {
        left: 0;
        bottom: 220px; }
      .home .main-image_attribute--white {
        top: 84px;
        right: 10%;
        width: 59px;
        height: 58px;
        background-color: #ffffff;
        color: #6ca3ff;
        font-size: 20px;
        font-weight: 700;
        line-height: 58px; }
      .home .main-image_attribute--blue {
        top: 267px;
        right: 2%;
        background-color: #4466c9;
        font-size: 16px;
        font-weight: 700; }
      .home .main-image_attribute--yellow {
        right: 10%;
        bottom: -28px;
        width: 56px;
        height: 56px;
        line-height: 56px;
        background-color: #fcec64;
        color: #648cff;
        font-weight: 700; }
  .home .scroll-down-btn {
    display: block;
    margin: 0 auto;
    width: 49px;
    height: 49px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    text-align: center; }
    .home .scroll-down-btn i {
      line-height: 49px;
      color: #ff4a4f; }

.features {
  padding: 132px 0 142px; }
  .features-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 129px; }
    .features-container-item {
      max-width: 355px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .features-container-item__image {
        height: 62px; }
      .features-container-item-desc {
        margin-left: 21px; }
        .features-container-item-desc__title {
          margin-bottom: 24px;
          color: #353854;
          font-family: Ubuntu;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px; }
        .features-container-item-desc__text {
          color: #aeaeae;
          font-size: 16px;
          line-height: 30px; }

.widgets {
  padding: 55px 0 0; }
  .widgets .swiper-container {
    margin-top: 62px; }
  .widgets .swiper-button-prev {
    left: 110px; }
  .widgets .swiper-button-next {
    righ: 110px; }

.screenshots {
  margin-top: 145px; }
  .screenshots-container-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 160px;
    padding: 40px 0 60px; }
    .screenshots-container-item:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .screenshots-container-item:nth-child(even) .screenshots-container-item-info {
        margin-left: 0; }
        .screenshots-container-item:nth-child(even) .screenshots-container-item-info__text {
          margin-right: 225px; }
    .screenshots-container-item-image {
      position: relative;
      margin-left: 85px; }
      .screenshots-container-item-image .sunny-temp {
        background-color: #fc6a42; }
      .screenshots-container-item-image .sunny-wthr {
        background-color: #f2a14e; }
      .screenshots-container-item-image .sunny-bckg_text {
        top: -25px;
        left: 400px; }
      .screenshots-container-item-image .rainy-temp {
        background-color: #7693c8; }
      .screenshots-container-item-image .rainy-wthr {
        background-color: #b8faee;
        color: #7e8c91; }
      .screenshots-container-item-image .rainy-bckg_text {
        top: 39px;
        left: 410px; }
      .screenshots-container-item-image__bckg_text {
        position: absolute;
        left: 385px;
        top: -75px;
        z-index: -1;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        color: #ededf2;
        font-size: 256px;
        font-weight: 300;
        line-height: 166.67px;
        letter-spacing: -2.4px;
        -webkit-transform-origin: left top 10px;
            -ms-transform-origin: left top 10px;
                transform-origin: left top 10px; }
      .screenshots-container-item-image__attr {
        position: absolute;
        width: 92px;
        height: 92px;
        background-color: #6ca3ff;
        color: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        text-align: center;
        line-height: 92px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700; }
        .screenshots-container-item-image__attr--temp {
          left: -68px;
          top: 377px;
          font-size: 29px;
          letter-spacing: -2.4px; }
        .screenshots-container-item-image__attr--wthr {
          top: 168px;
          right: -38px;
          background-color: #fcec64;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -1.47px; }
    .screenshots-container-item-info {
      margin-left: 180px; }
      .screenshots-container-item-info__icon {
        height: 63px;
        margin-top: 86px; }
      .screenshots-container-item-info__title {
        margin: 48px 0 36px; }
      .screenshots-container-item-info__text {
        max-width: 490px;
        color: #353854;
        font-size: 24px;
        line-height: 36px; }
      .screenshots-container-item-info__iconset {
        margin-top: 42px; }

.reviews-container {
  margin-top: 146px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .reviews-container-review {
    margin-bottom: 155px;
    position: relative;
    width: -webkit-calc(50% - 26px);
    width: calc(50% - 26px); }
    .reviews-container-review::before, .reviews-container-review::after {
      position: absolute;
      color: #648cff;
      font-size: 142px; }
    .reviews-container-review::before {
      content: '“';
      top: -62px; }
    .reviews-container-review::after {
      content: '“';
      -webkit-transform: scale(-1, -1);
          -ms-transform: scale(-1, -1);
              transform: scale(-1, -1);
      top: 18px;
      right: 0; }
    .reviews-container-review__text {
      color: #353854;
      font-size: 24px;
      line-height: 36px; }
    .reviews-container-review__author {
      margin-top: 24px;
      color: #353854;
      font-size: 18px; }

.download {
  background-color: #648cff;
  padding-top: 63px; }
  .download-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .download-container-block {
      width: 50%; }
      .download-container-block__title {
        margin: 61px 0 46px;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase; }
      .download-container-block__text {
        max-width: 356px;
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 26px; }
      .download-container-block-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .download-container-block-links__link {
          margin-right: 6px; }
          .download-container-block-links__link:nth-last-child(1) {
            margin-right: 0; }
      .download-container-block__image {
        max-height: 399px; }

footer {
  padding: 102px 0 85px;
  background-color: #353854; }
  footer .navbar {
    padding-bottom: 99px; }
    footer .navbar__logo--footer {
      color: #648cff; }
      footer .navbar__logo--footer-span {
        color: #fc6a42; }
    footer .navbar-menu_item {
      color: #b5b5c8; }
    footer .navbar-social_item a {
      color: #b5b5c8; }
      footer .navbar-social_item a:hover {
        color: #fff; }
  footer .copyright-container {
    text-align: right; }
    footer .copyright-container::before {
      content: '';
      display: block;
      margin: 0px auto;
      max-width: 1593px;
      height: 1px;
      background-color: #434769; }
    footer .copyright-container__text {
      padding: 51px 0 0;
      color: #565b87;
      font-size: 16px;
      line-height: 21.6px; }

/* MEDIA QUERIES*/
@media (min-width: 320px) and (max-width: 480px) {
  .home {
    padding: 0px 0 25px; }
    .home-main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .home .main-info {
      max-width: 100%;
      margin-top: 120px;
      padding: 0 15px; }
      .home .main-info_title {
        text-align: center;
        font-size: 36px; }
      .home .main-info-buttons {
        width: 100%;
        margin-top: 29px;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .home .main-info-buttons_button {
          max-width: -webkit-calc(50% - 6px);
          max-width: calc(50% - 6px);
          margin-right: 0; }
    .home .main-image {
      width: 100%;
      margin-top: 50px; }
  .navbar {
    padding: 20px;
    background-color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navbar_logo {
      color: #648cff; }
    .navbar-menu {
      display: none;
      position: absolute; }
      .navbar-menu_item a {
        display: block;
        color: #6f6f6f; }
    .navbar-social {
      display: none; }
  .features {
    padding: 40px 20px; }
    .features-container {
      margin-top: 80px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .features-container-item {
        margin-bottom: 15px; }
        .features-container-item__image {
          height: 35px; }
        .features-container-item-desc {
          margin-left: 10px; }
          .features-container-item-desc__title {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: unset; }
          .features-container-item-desc__text {
            font-size: 14px;
            line-height: 26px; }
  .screenshots {
    overflow-x: hidden;
    margin-top: 80px; }
    .screenshots-container-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 0px;
      padding: 40px 20px; }
      .screenshots-container-item:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .screenshots-container-item:nth-child(even) .screenshots-container-item-info__text {
          margin-right: 0; }
      .screenshots-container-item-image {
        margin-left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .screenshots-container-item-image__attr--temp {
          left: 0;
          top: 360px; }
        .screenshots-container-item-image__attr--wthr {
          top: 195px;
          right: 0; }
        .screenshots-container-item-image__bckg_text {
          top: 15%;
          font-size: 140px;
          left: 400px; }
        .screenshots-container-item-image .sunny-bckg_text {
          top: 15%;
          left: 410px; }
        .screenshots-container-item-image .rainy-bckg_text {
          top: 27%; }
      .screenshots-container-item-info {
        margin-left: 0; }
        .screenshots-container-item-info__icon {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .screenshots-container-item-info__title {
          margin-top: 35px;
          text-align: center; }
        .screenshots-container-item-info__text {
          font-size: 20px;
          line-height: 30px; }
        .screenshots-container-item-info__iconset {
          margin-top: 30px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
  .reviews-container {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px; }
    .reviews-container-review {
      width: 100%;
      margin-bottom: 100px; }
      .reviews-container-review::before, .reviews-container-review::after {
        font-size: 80px; }
      .reviews-container-review::before {
        top: -40px; }
      .reviews-container-review::after {
        top: 55px; }
  .download {
    padding-top: 30px; }
    .download-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 20px; }
      .download-container-block {
        width: 100%; }
        .download-container-block-links {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: 50px; }
  footer {
    padding: 20px 20px; }
    footer .navbar {
      padding: 20px;
      background-color: inherit;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .navbar-social {
        margin-top: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

@media (min-width: 481px) and (max-width: 768px) {
  .home {
    padding: 0px 0 25px; }
    .home-main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .home .main-info {
      max-width: 100%;
      margin-top: 120px;
      padding: 0 15px; }
      .home .main-info_title {
        text-align: center;
        font-size: 36px; }
      .home .main-info-buttons {
        width: 100%;
        margin-top: 29px;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .home .main-info-buttons_button {
          max-width: -webkit-calc(50% - 6px);
          max-width: calc(50% - 6px);
          margin-right: 0; }
    .home .main-image {
      width: 100%;
      margin-top: 50px; }
  .navbar {
    padding: 20px;
    background-color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navbar_logo {
      color: #648cff; }
    .navbar-menu {
      display: none;
      position: absolute; }
      .navbar-menu_item a {
        display: block;
        color: #6f6f6f; }
    .navbar-social {
      display: none; }
  .features {
    padding: 40px 20px; }
    .features-container {
      margin-top: 80px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .features-container-item {
        margin-bottom: 15px; }
        .features-container-item__image {
          height: 35px; }
        .features-container-item-desc {
          margin-left: 10px; }
          .features-container-item-desc__title {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: unset; }
          .features-container-item-desc__text {
            font-size: 14px;
            line-height: 26px; }
  .screenshots {
    overflow-x: hidden;
    margin-top: 80px; }
    .screenshots-container-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 0px;
      padding: 40px 20px; }
      .screenshots-container-item:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .screenshots-container-item:nth-child(even) .screenshots-container-item-info__text {
          margin-right: 0; }
      .screenshots-container-item-image {
        margin-left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .screenshots-container-item-image__attr--temp {
          left: 0;
          top: 360px; }
        .screenshots-container-item-image__attr--wthr {
          top: 195px;
          right: 0; }
        .screenshots-container-item-image__bckg_text {
          top: 15%;
          font-size: 140px;
          left: 400px; }
        .screenshots-container-item-image .sunny-bckg_text {
          top: 15%;
          left: 410px; }
        .screenshots-container-item-image .rainy-bckg_text {
          top: 27%; }
      .screenshots-container-item-info {
        margin-left: 0; }
        .screenshots-container-item-info__icon {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .screenshots-container-item-info__title {
          margin-top: 35px;
          text-align: center; }
        .screenshots-container-item-info__text {
          font-size: 20px;
          line-height: 30px; }
        .screenshots-container-item-info__iconset {
          margin-top: 30px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
  .reviews-container {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px; }
    .reviews-container-review {
      width: 100%;
      margin-bottom: 100px; }
      .reviews-container-review::before, .reviews-container-review::after {
        font-size: 80px; }
      .reviews-container-review::before {
        top: -40px; }
      .reviews-container-review::after {
        top: 55px; }
  .download {
    padding-top: 30px; }
    .download-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 20px; }
      .download-container-block {
        width: 100%; }
        .download-container-block-links {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: 50px; }
  footer {
    padding: 20px 20px; }
    footer .navbar {
      padding: 20px;
      background-color: inherit;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .navbar-social {
        margin-top: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .home {
    padding: 0px 0 25px; }
    .home-main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .home .main-info {
      max-width: 100%;
      margin-top: 120px;
      padding: 0 15px; }
      .home .main-info_title {
        text-align: center;
        font-size: 36px; }
      .home .main-info-buttons {
        width: 100%;
        margin-top: 29px;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .home .main-info-buttons_button {
          max-width: -webkit-calc(50% - 6px);
          max-width: calc(50% - 6px);
          margin-right: 0; }
    .home .main-image {
      width: 100%;
      margin-top: 50px; }
  .navbar {
    padding: 20px;
    background-color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navbar_logo {
      color: #648cff; }
    .navbar-menu {
      display: none;
      position: absolute; }
      .navbar-menu_item a {
        display: block;
        color: #6f6f6f; }
    .navbar-social {
      display: none; }
  .features {
    padding: 40px 20px; }
    .features-container {
      margin-top: 80px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .features-container-item {
        margin-bottom: 15px; }
        .features-container-item__image {
          height: 35px; }
        .features-container-item-desc {
          margin-left: 10px; }
          .features-container-item-desc__title {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: unset; }
          .features-container-item-desc__text {
            font-size: 14px;
            line-height: 26px; }
  .screenshots {
    overflow-x: hidden;
    margin-top: 80px; }
    .screenshots-container-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 0px;
      padding: 40px 20px; }
      .screenshots-container-item:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .screenshots-container-item:nth-child(even) .screenshots-container-item-info__text {
          margin-right: 0; }
      .screenshots-container-item-image {
        margin-left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .screenshots-container-item-image__attr--temp {
          left: 0;
          top: 360px; }
        .screenshots-container-item-image__attr--wthr {
          top: 195px;
          right: 0; }
        .screenshots-container-item-image__bckg_text {
          top: 15%;
          font-size: 140px;
          left: 400px; }
        .screenshots-container-item-image .sunny-bckg_text {
          top: 15%;
          left: 410px; }
        .screenshots-container-item-image .rainy-bckg_text {
          top: 27%; }
      .screenshots-container-item-info {
        margin-left: 0; }
        .screenshots-container-item-info__icon {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .screenshots-container-item-info__title {
          margin-top: 35px;
          text-align: center; }
        .screenshots-container-item-info__text {
          font-size: 20px;
          line-height: 30px; }
        .screenshots-container-item-info__iconset {
          margin-top: 30px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
  .reviews-container {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px; }
    .reviews-container-review {
      width: 100%;
      margin-bottom: 100px; }
      .reviews-container-review::before, .reviews-container-review::after {
        font-size: 80px; }
      .reviews-container-review::before {
        top: -40px; }
      .reviews-container-review::after {
        top: 55px; }
  .download {
    padding-top: 30px; }
    .download-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 20px; }
      .download-container-block {
        width: 100%; }
        .download-container-block-links {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: 50px; }
  footer {
    padding: 20px 20px; }
    footer .navbar {
      padding: 20px;
      background-color: inherit;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .navbar-social {
        margin-top: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
