@import '_reset';

a {
  text-decoration: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  // background: linear-gradient(90deg, #ededf6, 1%, transparent 1%) 1px 0, #fff;
  // background-size: 200px 1px;
}

img {
  display: block;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.section{
  &-header{
    text-align: center;
    &__title{
      color: #648cff;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__slogan{
      margin-top: 30px;
      color: #999999;
      font-size: 18px;
    }
  }
}
.navbar{
  display: flex;
  justify-content: space-between;
  &_logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-menu {
    display: flex;
    &_item{ 
      margin-right: 82px;
      a{
        display: block;
        color: #e1e1e1;
        font-size: 18px;
        line-height: 21.6px;
        &:hover{
          color: #fff;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &-social{
    display: flex;
    &_item{
      margin-right: 43px;
      a {
        font-size: 24px;
        vertical-align: middle;
        color: #fff;
        line-height: 25px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    
  }
}
.home{
  padding: 37px 0 65px;
  // background-image: url('../images/home-bg.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #648cff;
  header {
  }
  &-main{
    display: flex;
  }
  .main{
    &-info {
      max-width: 50%;
      margin-top: 244px;
      &_title{
        font-size: 60px;
        font-weight: 700;
        &--mbottom{
          margin-bottom: 42px;
        }
      }
      &_text{
        font-size: 18px;
        line-height: 30px;
      }
      &-buttons{
        display: flex;
        margin-top: 59px;
        &_button{
          width: 158px;
          height: 52px;
          margin-right: 13px;
          border-radius: 4px;
          line-height: 52px;
          text-align: center;
          background-color: #fc6a42;
          color: #fff;
          &--features{
            background-color: #4466c9;
          }
        }
        
      }
    }
    &-image{
      position: relative;
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 149px 0 36px;
      &_attribute{
        position: absolute;
        width: 90px;
        height: 90px;
        background-color: #fc6a42;
        border-radius: 50%;
        text-align: center;
        line-height: 90px;
        text-transform: uppercase;
        font-size: 18px;
        &--orange{
          left: 0;
          bottom: 220px;
        }
        &--white{
          top: 84px;
          right: 10%;
          width: 59px;
          height: 58px;
          background-color: #ffffff;
          color: #6ca3ff;
          font-size: 20px;
          font-weight: 700;
          line-height: 58px;
        }
        &--blue{
          top: 267px;
          right: 2%;
          background-color: #4466c9;
          font-size: 16px;
          font-weight: 700;
        }
        &--yellow{
          right: 10%;
          bottom: -28px;
          width: 56px;
          height: 56px;
          line-height: 56px;
          background-color: #fcec64;
          color: #648cff;
          font-weight: 700;
        }
      }
    }
  }
  .scroll-down-btn {
    display: block;
    margin: 0 auto;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    i{
      line-height: 49px;
      color: #ff4a4f;
    }
  }
}

.features {
  padding: 132px 0 142px;
  &-container {
    display: flex;
    justify-content: space-between;
    margin-top: 129px;
    &-item {
      max-width: 355px;
      display: flex;
      &__image {
        height: 62px;
      }
      &-desc {
        margin-left: 21px;
        &__title{
          margin-bottom: 24px;
          color: #353854;
          font-family: Ubuntu;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
        }
        &__text {
          color: #aeaeae;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}

.widgets {
  padding: 55px 0 0;
  .swiper{
    &-container {
      margin-top: 62px;
      // padding: 0 42px;
    }
    &-button{
      &-prev{
        left: 110px;
      }
      &-next{
        righ: 110px;
      }
    }
  }
}

.screenshots {
  margin-top: 145px;
  &-container{
    &-item {
      display: flex;
      margin-top: 160px;
      padding: 40px 0 60px;
      &:nth-child(even){
        flex-direction: row-reverse;
        justify-content: flex-end;
        & .screenshots-container-item-info {
          margin-left: 0;
          &__text {
            margin-right: 225px;
          }
        }
      }
      &-image {
        position: relative;
        margin-left: 85px;
        .sunny{
          &-temp{
            background-color: #fc6a42;
          }
          &-wthr{
            background-color: #f2a14e;
          }
          &-bckg_text {
            top: -25px;
            left: 400px;
          }
        }
        .rainy {
          &-temp{
            background-color: #7693c8;
          }
          &-wthr{
            background-color: #b8faee;
            color: #7e8c91;
          }
          &-bckg_text {
            top: 39px;
            left: 410px;
          }
        }
        &__bckg_text {
          position: absolute;
          left: 385px;
          top: -75px;
          z-index: -1;
          transform: rotate(90deg);
          color: #ededf2;
          font-size: 256px;
          font-weight: 300;
          line-height: 166.67px;
          letter-spacing: -2.4px;
          transform-origin: left top 10px;

        }
        &__attr {
          position: absolute;
          width: 92px;
          height: 92px;
          background-color: #6ca3ff;
          color: #fff;
          border-radius: 50%;
          text-align: center;
          line-height: 92px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 700;
          &--temp {
            left: -68px;
            top: 377px;
            font-size: 29px;
            letter-spacing: -2.4px;
          }
          &--wthr {
            top: 168px;
            right: -38px;
            background-color: #fcec64;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -1.47px;
          }
        }
      }
      &-info {
        margin-left: 180px;
        &__icon {
          height: 63px;
          margin-top: 86px;
        }
        &__title{
          margin: 48px 0 36px;
        }
        &__text {
          max-width: 490px;
          color: #353854;
          font-size: 24px;
          line-height: 36px;
        }
        &__iconset {
          margin-top: 42px;
        }
      }
    }
  }
}

.reviews {
  &-container {
    margin-top: 146px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-review { 
      margin-bottom: 155px;
      position: relative;
      width: calc(50% - 26px);
      &::before, &::after {
        position: absolute;
        color: #648cff;
        font-size: 142px;
      }
      &::before {
        content: '“';
        top: -62px;
      }
      &::after {
        content: '“';
        transform: scale(-1, -1);
        top: 18px;
        right: 0;
      }
      &__text {
          color: #353854;
          font-size: 24px;
          line-height: 36px;
      }
      &__author {
        margin-top: 24px;
        color: #353854;
        font-size: 18px;
      }
    }
  }
}

.download {
  background-color: #648cff;
  padding-top: 63px;
  &-container{
    display: flex;
    &-block { 
      width: 50%;
      &__title {
        margin: 61px 0 46px;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
      }
      &__text {
        max-width: 356px;
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 26px;
      }
      &-links{
        display: flex;
        &__link{
          margin-right: 6px;
          &:nth-last-child(1){
            margin-right: 0;
          }
        }
      }
      &__image {
        max-height: 399px;
      }
    }
  }
}

footer {
  padding: 102px 0 85px;
  background-color: #353854;
  .navbar {
    padding-bottom: 99px;
    &__logo {
      &--footer{
        color: #648cff;
        &-span {
          color: #fc6a42;
        }
      }
    }
    &-menu {
      &_item {
        color: #b5b5c8;
      }
    }
    &-social {
      &_item a{
        color: #b5b5c8;
        &:hover {
          color: #fff;
        }
      }
    }

  }
  .copyright-container {
    text-align: right;
    &::before {
      content: '';
      display: block;
      margin: 0px auto;
      max-width: 1593px;
      height: 1px;
      background-color: #434769;
    }
    &__text {
      padding: 51px 0 0;
      color: #565b87;
      font-size: 16px;
      line-height: 21.6px;
    }
  }
}